<div class="dash-component-head">
    <h3>{{title}}</h3>
    <div class="pull-right">
        <ul class="list-icons">
            <li><span class="expand" (click)="onExpandCollapse()"></span></li>
            <li><span class="pdf" (click)="onClickIcons('application/pdf')"></span></li>
            <li><span class="excel" (click)="onClickIcons('application/vnd.ms-excel')"></span></li>
            <li><span class="table" (click)="onClickIcons('viewDataTable')"></span></li>
            <li><span class="pie-chart" (click)="onClickIcons('image/png')"></span></li>
        </ul>
    </div>
</div>
<div class="dash-component-content">
    <div class="row productionComponent">
        <chart  [options]="chartOptions_Green"
               (load)="saveInstance($event.context, 'chartComp_Green')" class="col-md-6 col-xs-12">
        </chart>
        <chart  [options]="chartOptions_Blue"
               (load)="saveInstance($event.context, 'chartComp_Blue')" class="col-md-6 col-xs-12">
        </chart>
        <chart  [options]="chartOptions_Red"
               (load)="saveInstance($event.context, 'chartComp_Red')" class="col-md-6 col-xs-12">
        </chart>
        <chart  [options]="chartOptions_Yellow"
               (load)="saveInstance($event.context, 'chartComp_Yellow')" class="col-md-6 col-xs-12">
        </chart>
    </div>
</div>


