<div class="wt-priority">
            <div class="col-md-6 sec-1">
          <div class="well-map border">
            <div class="dash-component-head">
              <h3>Well Map</h3>
            </div>
            <div class="dash-component-content"></div>
          </div>
        </div>
            <div class="col-md-4 sec-2">
          <div class="production border">
            <div class="dash-component-head">
              <h3>Production</h3>
            </div>
            <div class="dash-component-content"></div>
          </div>
          
          
        </div>
            <div class="col-md-2 sec-3">
          <div class="production border">
            <div class="dash-component-head">
              <h3>Production</h3>
            </div>
            <div class="dash-component-content"></div>
          </div>
          
          
        </div>
        </div>



