<!--<ul class="main" *ngIf="appContentMenuItems">
    <nav>
        <li *ngFor="let config of appContentMenuItems.contentmenuItems">
            <a [routerLink]=config.menuUrl routerLinkActive="active"><span class="text">{{config.menuText}}</span></a>
        </li>
    </nav>

</ul>-->
<div class="sidebar" id="sidebar">
    <div id="split-bar"></div>
    <div class="list">
        <h1>Filters</h1>
        <h1>{{title}}</h1>
        <ul class="filters">
            <li *ngFor="let filter of filters"
                [class.selected]="filter === selectedFilter"
                (click)="onSelect(filter)">
                <span class="badge">{{filter.id}}</span> {{filter.name}}
            </li>
        </ul>
        <!-- <module-filter #test></module-filter>-->
    </div>
</div>

<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="tab-menu"></div>
            <tab-menu [filePath]='childPath'></tab-menu>
            <router-outlet></router-outlet>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="content-area" id="fixed-ht'">
                <div class="over-view">
                    <div class="col-md-8 content-area-left">
                        <div class="well-map border">
                            <div class="dash-component-head">
                                <h3>Well Map</h3>
                            </div>
                            <div class="dash-component-content">
                                <map-area [filter]="selectedFilter"></map-area>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content-area-left-btm">
                            <div class="col-md-4 left">
                                <div class="lat-prod border">
                                    <div class="dash-component-head">
                                        <h3>Latest Production</h3>
                                    </div>
                                    <div class="dash-component-content">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 right">
                                <div class="his-prod border">
                                    <div class="dash-component-head">
                                        <h3>Historic Production</h3>
                                    </div>
                                    <div class="dash-component-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 content-area-right">
                        <div class="well-status border">
                            <div class="dash-component-head">
                                <h3>Overall Well Status</h3>
                            </div>
                            <div class="dash-component-content">
                                <chart-pie-area [filter]="selectedFilter"></chart-pie-area>
                            </div>
                        </div>
                        <div class="well-event border">
                            <div class="dash-component-head">
                                <h3>Well Events</h3>
                            </div>
                            <div class="dash-component-content">
                                <chart-column-area [filter]="selectedFilter"></chart-column-area>
                            </div>
                        </div>
                        <div class="well-summary border">
                            <div class="dash-component-head">
                                <h3>Active Well Summary</h3>
                            </div>
                            <div class="dash-component-content"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
