<div class="container-fluid">
    <div class="row">

        <div class="" id="fixed-ht">

            <div class="loss-gains">
                <div class="col-md-8 content-area-left">
                    <div class="well-map border">
                        <div class="dash-component-head">
                            <h3>Well Map</h3>
                        </div>
                        <div class="dash-component-content">
                            <map-area [currentFilters]="ObjFilter"></map-area>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-area-right">
                    <div class="production border">
                        <chart-pie-area [currentFilters]="ObjFilter" component_context="sps-lossGain-production"></chart-pie-area>
                    </div>
                    <div class="production margin-top20 border">
                        <chart-column-area [currentFilters]="ObjFilter"></chart-column-area>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<fixed-ht></fixed-ht>

