<div class="dash-component-head">
    <h3>{{title}}</h3>
    <div class="pull-right">
        <ul class="list-icons">
            <li><span class="expand" (click)="onExpandCollapse()"></span></li>            
            <li><span class="pdf" (click)="onClickIcons('application/pdf')"></span></li>
            <li><span class="excel" (click)="onClickIcons('application/vnd.ms-excel')"></span></li>
            <li><span class="table" (click)="onClickIcons('viewDataTable')"></span></li>
            <li><span class="pie-chart" (click)="onClickIcons('image/png')"></span></li>
        </ul>
    </div>
</div>
<div class="dash-component-content">
    <chart [options]="options"
           (load)="saveInstance($event.context)" class="highcart-pie">
    </chart>
</div>

<input type='button' (click)="close()" value='close' />
<div [innerHTML]="htmlTable" class="table" style="position:absolute;left:0px;width:100%;top:41px;z-index:1000">

</div>

<!--<fixed-ht [controlId] ="chartid"  [expandStatus]="expandStatus"></fixed-ht>-->