<div class="dash-component-head">
    <h3>{{title}}</h3>
    <div class="pull-right">
        <ul class="list-icons">
            <li><span class="expand" (click)="onExpandCollapse()" title="Expand"></span></li>            
            <li><span class="pdf" (click)="onClickIcons('application/pdf')" title="PDF"></span></li>
            <li><span class="excel" (click)="onClickIcons('application/vnd.ms-excel')" title="Excel"></span></li>
            <li><span class="table" (click)="onClickIcons('viewDataTable')" title="Table"></span></li>
            <li><span class="exportPng" (click)="onClickIcons('image/png')" title="PNG"></span></li>
        </ul>
    </div>
</div>
<div class="dash-component-content">
    <chart [options]="options"
           (load)="saveInstance($event.context)" class="highcart-pie">
    </chart>
</div>




<!--<fixed-ht [controlId] ="chartid"  [expandStatus]="expandStatus"></fixed-ht>-->