<div class="container-fluid">
    <div class="row">
        <div class="" id="fixed-ht">
            <div class="over-view">
                <div class="col-md-8 content-area-left">
                    <div class="well-map border" id="sps_overview_wellMap_ID">
                        <!--<map-area
                          [currentControlId]="sps_overview_wellMap_ID" (notify)='onNotify($event)'
                          component_context="sps-overview-wellMap"></map-area>-->
                        <map-area component_context="sps-overview-wellMap"></map-area>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-area-left-btm">
                        <div class="col-md-5 left">
                            <div class="lat-prod border" id="sps_overview_latProd_ID">
                                <chart-gauge-area [currentFilters]="ObjFilter"  component_context="sps-overview-wellStatus"></chart-gauge-area>
                            </div>
                        </div>
                        <div class="col-md-7 right temp">
                            <div class="his-prod border" id="sps_overview_histProd_ID">
                                <chart-line-multiple [currentFilters]="ObjFilter"  [currentControlId]="sps_overview_histProd_ID" [spsHisProductionHeight]="defaultChartLineMultipleHeight" (notifyPopup)='onNotifyPopup($event)' component_context="sps-overview-historicProduction"></chart-line-multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 content-area-right">
                    <div class="production border " id="sps_overview_wellStatus_ID">
                        <chart-pie-area [currentFilters]="ObjFilter"
                                        
                                        (notifyPopup)='onNotifyPopup($event)' component_context="sps-overview-wellStatus"></chart-pie-area>
                    </div>
                    <div class="well-event border margin-top20" id="sps_overview_wellEvents_ID">
                        <chart-column-area [currentFilters]="ObjFilter"
                                           [currentControlId]="sps_overview_wellEvents_ID"
                                           [spsWellEventHeight]="defaultChartColumnAreaHeight"
                                           component_context="sps-overview-wellEvents" (notifyPopup)='onNotifyPopup($event)'></chart-column-area>
                    </div>
                    <div class="well-summary border" id="sps_overview_downTime_ProdLoss_ID">
                        <chart-column-spline-area [currentFilters]="ObjFilter"
                                                  
                                                  component_context="sps-overview-downtime-prodloss" (notifyPopup)='onNotifyPopup($event)'></chart-column-spline-area>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal #firstModal>
    <modal-header>
        <h1>Overall Well Status</h1>
    </modal-header>
    <modal-content>
        <div [innerHTML]="popupStr" class="table">

        </div>
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="firstModal.close()">okay!</button>
    </modal-footer>
</modal>
<fixed-ht></fixed-ht>