<ul class="list-parent">
    <li *ngFor="let root of filters">
        <!--<span>{{treeViewGetIcon(root)}}</span>-->
        <span class="themeicon"></span>
        <span>{{ root.name }}</span>
        <div *ngIf="root.expanded">
            <!-- First Level End-->
            <div>
                <ul class="list-child">
                    <li *ngFor="let filter_l1 of root.children">
                       <div class="{{treeViewGetIcon(filter_l1)}}" (click)="treeViewToggle(filter_l1)"></div>
                        <!--<span class="iconButton" (click)="treeViewToggle(filter_l1)">{{treeViewGetIcon(filter_l1)}}</span>-->
                        <label class="control control--checkbox">
                            <span class="themeicon"></span><input type="checkbox" [checked]="filter_l1.checked" (click)="onTreeViewChecked(filter_l1)" />{{filter_l1.name }}
                            <div class="control__indicator"></div>
                        </label>
                            <div *ngIf="filter_l1.expanded">
                                <!-- Second Level Start-->
                                <div>
                                    <ul class="list-grand-child">
                                        <li *ngFor="let filter_l2 of filter_l1.children">
                                            <span class="iconButton line"></span>
                                            <!--<span class="iconButton" (click)="treeViewToggle(filter_l2)">{{treeViewGetIcon(filter_l2)}}</span>-->
                                            <label class="control control--checkbox">
                                                <input type="checkbox" [checked]="filter_l2.checked" (click)="onTreeViewChecked(filter_l2)" /> <span class="themeicon"></span>{{filter_l2.name }}<div class="control__indicator"></div>
                                            </label>
                                                
                                               
                                                <div *ngIf="filter_l2.expanded">
                                                    <div>
                                                    </div>
                                                </div>
</li>
                                    </ul>
                                </div>
                                <!-- Second Level End-->
                            </div>
</li>
                </ul>
            </div>
            <!-- First Level End-->
        </div>
    </li>
</ul>

