
<div>
    <div class="dash-component-head">
        <ul class="header">
            <li>
                <h3>{{title}}</h3>
            </li>
            <li class="pull-right toolGroup">
                <ul class="list-icons">
                    <li><span class="expand" (click)="onExpandCollapse()"></span></li>
                    <li><span class="pdf" (click)="onClickIcons('application/pdf')"></span></li>
                    <li><span class="exportPng" (click)="onClickIcons('image/png')"></span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="dash-component-content">
        <chart type="Map" [options]="options" (load)="saveInstance($event.context)" class="highcart-pie"></chart>
    </div>
</div>