<div class="dash-component-head">
    <h3>{{title}}</h3>
    <div class="pull-right">
        <ul class="list-icons">
            <li><span class="expand" (click)="onClickIcons()"></span></li>
            <li><span class="pdf" (click)="onClickIcons('application/pdf')"></span></li>
            <li><span class="excel" (click)="onClickIcons('application/vnd.ms-excel')"></span></li>
            <li><span class="table" (click)="onClickIcons('viewDataTable')"></span></li>
            <li><span class="table" (click)="onClickIcons('image/png')"></span></li>
        </ul>
    </div>
</div>
<div class="dash-component-content">
    <chart [options]="options"
           (load)="saveInstance($event.context)" class="highcart-column" >
    </chart>
</div>