<div class="alarm-events" id="fixed-ht">
    <div class="al-events-data-cover">
        <div class="col-md-6 sec-1">
            <div class="border">
                <div class="dash-component-head">
                    <h3>Alarms</h3>
                </div>
                <div class="dash-component-content"></div>
            </div>
        </div>
        <div class="col-md-6 sec-2">
            <div class="border">
                <div class="dash-component-head">
                    <h3>Events</h3>
                </div>
                <div class="dash-component-content"></div>
            </div>
        </div>
    </div>
    <div class="al-events-well-graph-cover">
        <div class="col-md-12 graph margin-top20">
            <div class="border">
                <div class="dash-component-head">
                    <h3>Well SA-0101</h3>
                </div>
                <div class="dash-component-content"></div>
            </div>
        </div>
    </div>
</div>
<fixed-ht></fixed-ht>